@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
html, body {
  width: 100%;
  height: 100%;
  background: url(../../images/ban1.png);
  font-family: 'Poppins', sans-serif;
  color: #222;
  /* background-image: url('../images/rustcashLogo.jpg'); */
}

/* НАВБАР */
.navbar-brand img {width: 150px;}
.
.navbar-nav li{
  padding-right: 20px;
}
.nav-link {font-size: 1.1em !important;}


.navtest {
        font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-top-width: 3px;
    border-top-color: rgb(31, 174, 233);
    border-image-repeat: initial;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    background-color: rgba(29, 27, 26, 0.8);
    border-radius: 5px 3px 15px 15px;
}
.but {	
 text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 11px;
    height: 40px;
    width: 15px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;
	background-color: rgba(255.255.255,1);
	
	overflow:hidden;
  cursor:pointer;
}
.but > .line{
  display:block;
  width:80%;
  height:2px;
  background:#fff;
  margin:8px auto;
}
.but:before {
  content: "";
  background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.but:hover {
  background: #fe6637;
  color: #fff;
  background-image: url('../../images/logo.png');
	background-size: cover;
}
.but:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}

.navbar-toggler-icon
{
	
}


.carousel-inner {
  /* height: 1fr; */
}


.carousel-inner img{
  width: 100%;

}
@media (min-width: 1100px) {
  .carousel-inner img{
      width: 100%;
  }
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  text-shadow: 1px 1px black;
}
@media (max-width: 450px) {
  .carousel-caption .display-2 {
      font-size: 3em;
  }
}
.post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    /* display: flex; */
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
	font-family: 'Montserrat Alternates', sans-serif;
}
.post-item {
	padding: 15px;	
	cursor: pointer;
}
.post-item * {
	transition: .3s linear;
}
.item-content {
    background-image: url(../../images/ban2.png);
    width: 19rem;
	background-size:cover;
    border-radius: 40px 10px 40px 10px;
    box-shadow: 0 15px 15px rgba(0,0,0,.9);

}
.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
	transform: translateY(-8px);
}
.item-body {
	color: #F5E2CD;
	font-size: 14px;
}
.item-body h3 {
	font-weight: 500;
    margin-bottom: 15px;
	transition-delay: .05s;
	 font-family: Roboto, sans-serif;
}
.item-body p {
	transition-delay: .1s;
	font-family: 'Montserrat Alternates', sans-serif;
}
.item-footer {
	padding-top: 15px;
	margin-left: 11px;
}
.link {  
	text-decoration: none;	
    display: inline-block; 
	overflow: hidden;	
	position: relative;
	padding-right: 30px;
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F5E2CD;
}
.link:before {    
    content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
	bottom: 0;
    height: .125rem;
	margin: auto;
	background: #F09EA3;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
	transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.link span {
	display: inline-block;
    position: relative;
    transform: translateX(-200%);    
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.post-item:hover .link span {
    transform: translateX(0%);
}
.post-item:hover .link:before {
	transform-origin: right center;
}
@media (min-width: 768px) {
	.post-item {
		flex-basis: 50%;
		flex-shrink: 0;				
	}
}
@media (min-width: 960px) {
	.post-item {
		flex-basis: 33.333333333%;			
	}
}