body {
  height: 100vh;
  /* background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(150, 7, 7) 37%, rgb(121, 9, 9) 76%, rgb(2, 0, 36) 100%, rgb(225, 2, 2) 100%, rgb(255, 0, 0) 100%); */
}
/** Карточки дуэлей*/
.card-col {
  width: 18rem;   
  height: 10rem;   
  background: url('../../images//ban2.png'); 
  background-size: cover; 
  margin-top: 10px;
}
..tbody-modal :hover{
  background-color: rgba(0,0,0,0.5);
}
tabble {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tbody-modal .tbodybut,
.tbody-modal .tbodybut::before,
.tbody-modal .tbodybut::after,
.tbody-modal .tbodybut span,
.tbody-modal .tbodybut span::before,
.tbody-modal .tbodybut span::after
{
  transition: all ease .5s;
}

.tbody-modal .tbodybut{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.tbody-modal .tbodybut:hover
{
  box-shadow: 0 0 5em .5em rgba(50,50,150,0.5);
}

.tbody-modal .tbodybut span
{
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}

.tbody-modal .tbodybut:hover span
{
  background-color: #fff;
  color: #112;
}

.tbody-modal .tbodybut::before,
.tbody-modal .tbodybut::after,
.tbody-modal .tbodybut span::before,
.tbody-modal .tbodybut span::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.tbody-modal .tbodybut::before,
.tbody-modal .tbodybut span::before
{
  border-style: solid none;  
}

.tbody-modal .tbodybut::before,
.tbody-modal .tbodybut span::after{      
  left: 0;
  top: -0.4em;
  width: 100%; 
  height: calc(100% + 0.8em);
}

.tbody-modal .tbodybut::after,
.tbody-modal .tbodybut span::after
{
  border-style: none solid;   
}

.tbody-modal .tbodybut::after,
.tbody-modal .tbodybut span::before
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); 
}

.tbody-modal .tbodybut:hover::after,
.tbody-modal .tbodybut:hover span::after
{
  transform: scaleY(0);
}

.tbody-modal .tbodybut:hover::before,
.tbody-modal .tbodybut:hover span::before
{
  transform: scaleX(0);
}

.tbody-modal .tbodybut:hover span::after,
.tbody-modal .tbodybut:hover span::before
{
  opacity: 0;
}
/**История баланса*/
